<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<title>口罩佩戴检测平台</title>
	</head>
	<body>
		<div id="app">
			<el-container>
				<el-header>
					<h4 class="list-item"><a href="index.html">主页</a></h4>
					<h4 class="list-item"><a href="mine.html">个人中心</a></h4>
				</el-header>
				<el-main>
					<header>
						<h1>口罩佩戴检测平台</h1>
					</header>
					<main>
						<div>
							<el-card class="login-card">
								<el-tabs v-model="activeName" @tab-click="handleClick">
									<el-tab-pane label="登录" name="first">
										<el-form :model="ruleForm1" status-icon :rules="rules" ref="ruleForm1" label-width="100px" class="demo-ruleForm">
											<el-form-item label="用户名" prop="name">
												<el-input v-model.number="ruleForm1.name"></el-input>
											</el-form-item>
											<el-form-item label="密码" prop="pass">
												<el-input type="password" v-model="ruleForm1.pass" autocomplete="off"></el-input>
											</el-form-item>
											<el-form-item class="feedback">
												<el-button type="primary" @click="submitForm('ruleForm1')">登录</el-button>
												<el-button @click="resetForm('ruleForm1')">重置</el-button>
											</el-form-item>
										</el-form>
									</el-tab-pane>
									<el-tab-pane label="注册" name="second">
										<el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
											<el-form-item label="用户名" prop="name">
												<el-input v-model.number="ruleForm.name"></el-input>
											</el-form-item>
											<el-form-item label="密码" prop="pass">
												<el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
											</el-form-item>
											<el-form-item label="确认密码" prop="checkPass">
												<el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
											</el-form-item>
											<el-form-item class="feedback">
												<el-button type="primary" @click="submitForm('ruleForm')">注册</el-button>
												<el-button @click="resetForm('ruleForm')">重置</el-button>
											</el-form-item>
										</el-form>
									</el-tab-pane>
								</el-tabs>
								
							</el-card>
						</div>
					</main>
				</el-main>
				<el-footer>
					<p>© 2020 口罩佩戴检测平台 V1.0<br>京ICP备10000000号-2</p>
				</el-footer>
			</el-container>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script>
		//注册使用vue
		var Main = {
			data() {
				var checkName = (rule, value, callback) => {
					if (value === '') {
						callback(new Error('用户名不能为空'));
					} else {
						callback();
					}
				};
				var validatePass = (rule, value, callback) => {
					if (value === '') {
						callback(new Error('请输入密码'));
					} else {
						if (this.ruleForm.checkPass !== '') {
							this.$refs.ruleForm.validateField('checkPass');
						}
						callback();
					}
				};
				var validatePass2 = (rule, value, callback) => {
					if (value === '') {
						callback(new Error('请再次输入密码'));
					} else if (value !== this.ruleForm.pass) {
						callback(new Error('两次输入密码不一致!'));
					} else {
						callback();
					}
				};
				return {
					activeName: 'second',
					ruleForm1: {
						pass: '',
						name: ''
					},
					ruleForm: {
						pass: '',
						checkPass: '',
						name: ''
					},
					rules: {
						pass: [{
							validator: validatePass,
							trigger: 'blur'
						}],
						checkPass: [{
							validator: validatePass2,
							trigger: 'blur'
						}],
						name: [{
							validator: checkName,
							trigger: 'blur'
						}]
					}
				};
			},
			methods: {
				handleClick(tab, event) {
					console.log(tab, event);
				},
				submitForm(formName) {
					this.$refs[formName].validate((valid) => {
						if (valid) {
							alert('submit! '+ formName);
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				}
			}
		}
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#app')
	</script>

</html>
