* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background-color: #dedede;
	border-radius: 3px;
}

html,
body,
#app,
.el-container {
	height: 100%;
}

.el-header {
	display: flex;
	justify-content: space-between;
	line-height: 30px;
	background-color: #0058b6;
}

.el-footer {
	color: #fff;
	text-align: center;
	line-height: 30px;
	background-color: #6F6F73;
	height: 120px !important;
	padding: 30px 0;
}

header {
	padding-top: 2%;
	color: #fff;
	height: 30%;
	background-color: #5A9FFA;
	display: flex;
	align-items: center;
	justify-content: center;
}

header h1 {
	font-size: 64px;
	letter-spacing: 10px;
}

main {
	background: linear-gradient(#5A9FFA 50%, #E9EEF3 50%);
	background-size: 100% 50%;
	background-repeat: no-repeat;
	height: 70%;
	color: #333;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
}

.el-main {
	background-color: #E9EEF3;
	color: #333;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 0;
}

body>.el-container {
	margin-bottom: 40px;
}

.box-card {
	margin: 25px 50px;
	width: 480px;
	height: 400px;
	border-radius: 15px;
}

.login-card {
	margin: 25px 50px;
	width: 480px;
	border-radius: 15px;
	padding: 5px 20px;
}

.mine-card {
	margin: 25px 50px;
	width: 360px;
	border-radius: 15px;
	height: 480px;
}

.history-card {
	margin: 25px 50px;
	width: 720px;
	border-radius: 15px;
	height: 480px;
	justify-content: flex-start;
	padding: 20px 0 20px 10px;
}

.container {
	height: 440px;
	overflow: scroll;
	float: all;
}

.el-card__body {
	padding: 0 !important;
}

.innercontainer {
	padding: 20px;
	display: flex;
	justify-content: center;
}

.el-card h1 {
	color: #007AFF;
	font-size: 20px;
}

.mine-card .el-button {
	margin-top: 280px;
}

.history-card img {
	margin: 10px;
}

.v-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.el-upload-dragger {
	background-color: #fff;
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	box-sizing: border-box;
	width: 440px;
	height: 310px;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
}

.el-icon-upload {
	font-size: 67px;
	color: #C0C4CC;
	margin: 100px 0 40px !important;
	line-height: 50px;
}

.v-center div {
	background-color: #E9EEF3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 90%;
	border-radius: 15px;
}

.v-center div i {
	margin: 15px;
}

.el-header .list-item a {
	padding: 0 10px;
	color: #fff;
	font-weight: bold;
	line-height: 60px;
	height: 60px;
	display: inline-block;
	transition: all 0.2s;
}

.el-header .list-item a:hover {
	background-color: #007AFF;
}

.el-header .list-item a:active {
	background-color: #5A9FFA;
}

.el-form {
	margin-top: 20px;
}

.feedback {
	margin-right: 80px !important;
	position: relative;
	bottom: 0;
}